<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bower_components/jquery-ui-1.10.3/themes/base/jquery-ui.css">
    <!--<script src="/js/bundle.js"></script>-->
  	<script src="/bower_components/jquery/jquery.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  	<script src="/bower_components/underscore/underscore.js"></script>
  	<script src="/bower_components/backbone/backbone.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/d3/d3.js"></script>
    <script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>

  </head>

  <body>
    <style type="text/css">
      #recipe-image img{

        margin-top: 40px;
      }
      #mmainbody #landing {
        display: none;
      }
      #mainbody #match_result {
        display: none;
      }
      #mainbody #home-title {
        margin-top: 40px;
        margin-bottom: 130px;
      }
      #mainbody .ui-widget{
        padding-left: 0px;

      }
      #mainbody .ingredient{
        margin-top: 7px;
      }
      #mainbody .ingredient-view{
        padding-left: 90px;
      }
      .background {
        fill: none;
        pointer-events: all;
      }
      #svgMain {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    </style>


    <div class="col-md-12" id="mainbody" >

      <section id="landing">
        <header id="header">
          <div id="home-title">
            <h1 align="center"><i>Dinner, without a trip to grocery store!</i></h1>
          </div>
          <h4 align="center">Input some ingredients, and find out what you can make out of them</h4>
          <div class="row">
            <div align="center" class="col-md-3 col-md-offset-4 ui-widget">
              <input id="new-ingredient" class="form-control" placeholder="onion, chicken, whatever you have" autofocus>
            </div>
            <div align="left" class="col-md-3 ui-widget">
              <!--<a href="/#match_result" class="btn btn-default btn-primary" role="button" id="match-button">Match</a>-->
              <a href="/#show_on_map" class="btn btn-default btn-primary" role="button" id="match-button">Match</a>
            </div>
          </div>
        </header>
        <section id="main">
          <div align="center">
            <ul id="ingredient-list"></ul>
          </div>
        </section>
      </section>

      <section id="match_result">
        <header id="header">
          <h2 align="center">With those materials, you should be able to make:</h2>
        </header>
        <div id="user_recipes"></div>
      </section>

    </div>


    <script type="text/template" id="ingredient-template">
      <div class="ingredient-view">
        <div class="row">
          <div align="left" class="col-md-offset-3 col-md-3">
            <label><%- name %></label>
            </div>
            <div class="col-md-1">
            <button class="destroy">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="recipe-template">
      <div class="container" id="recipes-container">
        <div class="row">
          <div class="col-md-offset-2 col-md-10" id="recipe-container">
            <div class="col-md-2" id="recipe-image">
              <img src="<%= smallImageUrls[0] %>" class="img-thumbnail">
            </div>
            <div class="col-md-offset-0 col-md-9">
              <h3 id="recipe-title">
                <%- recipeName %>
              </h3>
              <ul id="recipe-ingredient">
                <label>Requires: </label>
                <% for (var i=0; i<ingredients.length; i++){ %>
                  <li id="recipe-ingredient"> <%= ingredients[i] %> </li>
                <% } %>
              </ul>
              <h4 id="recipe-source">
                <a href="http://www.yummly.com/recipe/<%= yum_id %>"><i>more..</i></a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </script>


    <script src="/js/main.js"></script>
    <!--<script src="/js/bundle.js"></script>-->
    <script src="/js/models/user.js"></script>
    <script src="/js/models/recipe.js"></script>
    <script src="/js/models/ingredient.js"></script>
    <script src="/js/collections/users.js"></script>
    <script src="/js/collections/recipes.js"></script>
    <script src="/js/collections/ingredients.js"></script>
    <script src="/js/views/recipe_view.js"></script>
    <script src="/js/views/recipes_view.js"></script>
    <script src="/js/views/ingredient_view.js"></script>
    <script src="/js/views/userinput_view.js"></script>
    <script src="/js/views/cuisines_view.js"></script>
    <script src="/js/routers/router.js"></script>
    <script>
      $(function(){
        var availableTags = [
          "tomato",
          "onion",
          "chicken breast",
          "chicken wing",
          "chicken leg",
          "chicken thigh",
          "garlic",
          "milk",
          "cheese",
          "olive oil",
          "butter",
          "egg",
          "shallot",
          "chile",
          "wheat flour",
          "pork",
          "wine vinegar",
          "balsamic vinegar",
          "white vinegar",
          "red wine vinegar",
          "beef",
          "sweet pepper",
          "chicken stock",
          "herbs",
          "stalk vegetable",
          "bell pepper",
          "seafood",
          "parsley",
          "vegetable oil",
          "lemon",
          "potato",
          "carrot",
          "nut",
          "celery",
          "mushroom",
          "all purpose flour",
          "cayenne pepper",
          "basil",
          "thyme",
          "bread",
          "cilantro",
          "chicken broth",
          "cheddar",
          "soy sauce",
          "white wine",
          "parmesan cheese",
          "oregano",
          "cured pork",
          "pasta",
          "beetroot",
          "brown rice",
          "white rice",
          "lettuce",
          "cucumber",
          "zucchini",
          "chili",
          "bacon",
          "mayonnaise",
          "cumin",
          "sour cream",
          "cinnamon",
          "mustard",
          "ginger",
          "fish",
          "shrimp",
          "wine vinegar",
          "vegetable stock",
          "bay leaf",
          "spinach",
          "sausage",
          "shellfish",
          "oyster",
          "mussel",
          "clam",
          "lobster",
          "crab",
          "prawn",
          "breadcrumb",
          "corn",
          "lime",
          "jalapeno",
          "rosemary",
          "cabbage",
          "beef stock",
          "beef broth",
          "pork stock",
          "pork broth",
          "vegetable broth",
          "coriander",
          "balsamic vinegar",
          "tomato paste",
          "pickle",
          "ketchup",
          "avocado",
          "yogurt",
          "chocolate",
          "broccoli",
          "cauliflower",
          "sweet potato",
          "apple",
          "pork tenderloins",
          "orange",
          "vanilla bean",
          "curry powder",
          "black bean",
          "tortilla",
          "fennel",
          "leek",
          "eggplant",
          "cayenne",
          "turkey",
          "salmon",
          "lamb",
          "artichoke",
          "syrup",
          "mozzarella cheese",
          "mint",
          "beer",
          "squid",
          "frozen pea",
          "chili sauce",
          "oyster sauce",
          "fish fillet",
          "pineapple",
          "bok choi",
          "spaghetti",
          "asparagus",
          "scallop",
          "bean sprout",
          "linguini",
          "salami"
        ];
        $('#new-ingredient').autocomplete({
          source: availableTags
        });
      });
    </script>

  </body>

</html>
